---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---
My research is situated at the intersection of the institutional study of Congress, interest groups, and democratic norms of representation.
I am especially interested in how under-resourced groups are able to affect policy change. I am currently working on several research projects:

<ol>
  <li>"Who Really Counts? Latent Power of Interest Groups" with Ali Yanus</li>
  <li>"L, G, B, or T? Issue Colonization Among LGBT Interest Groups" with Adam Chamberlain and Ali Yanus</li>
  <li>"Anonymity Through Unanimity: The Importance of UC Agreements in the US Senate"</li>
  <li>"Cranberries: A Political History"</li>
  <li>"Divided by Truth" with <a href="https://www.linkedin.com/in/cpereira5/">Christian Pereira</a> (Bryant undergraduate)</li>
  <li>"Local Interests" with <a href="https://www.linkedin.com/in/matthewzinno/">Matt Zinno</a> (UMD undergraduate)</li>
</ol>

My published work is in print (or forthcoming at): <i>Political Research Quarterly</i>, <i>Political Science Research and Methods</i>,
<i>Interest Groups & Advocacy</i>, and <i>Pursuit</i>. 
<br><br>
{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my peer-reviewed publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<br><br>

I am a referee for  <i>Interest Groups & Advocacy</i>, <i>Political Research Quarterly</i>, and <i>The Journal of Politics.</i>


{% include base_path %}



